footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--light);
    width: 100%;
    height: 35vh;
}

footer p {
    display: flex;
    font-family: var(--roboto);
}

.icon {
    width: 37.5px;
    height: 37.5px;
}