footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
}

footer p {
    display: flex;


}

.icon {
    width: 37.5px;
    height: 37.5px;
}