header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: var(--roboto);
    color: var(--black);
    background-color: var(--light);

    .navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;
        padding-top: 1rem;

        p {
            width: 100%;
            font-size: 1.6rem;
            padding-bottom: 30px;
            color: var(--black);
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-bottom: 48px;
            width: 100%;

            a {
                text-decoration: none;
                font-size: 1.4rem;
                color: var(--black);
                width: 100%;

                &:hover {
                    color: var(--blue);
                    font-weight: bold;
                }
            }
        }
    }

    .presentation {
        width: 100%;
        padding-left: 1rem;

        .yellow {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            color: var(--yellow);
            font-size: 1.7rem;
            font-weight: bold;
            width: 100%;
        }

        h1 {
            font-family: var(--playfair);
            font-size: 4rem;
            padding-bottom: 2rem;
            width: 100%;
            flex: 1;
        }

        .grey {
            color: var(--grey);
            font-size: 1.5rem;
            line-height: 2.5rem;
            padding-bottom: 3rem;
            max-width: 100%;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            margin-left: 0;
            max-width: 50%;
            gap: 2rem;
            padding-bottom: 2rem;


            .projects,
            .linkedin {
                width: 50%;
                height: 3rem;
                font-size: 1.3rem;
                font-weight: bold;
                border-radius: 10px;

                &:hover {
                    opacity: 0.5;
                }
            }

            .projects {
                background-color: var(--yellow);
                border-style: none;

                &:hover {
                    opacity: 0.5;
                }
            }

            .linkedin {
                background-color: var(--white);

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .picture {
        display: flex;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
        margin-right: 0;

        img {
            text-align: center;
            width: 200%;
            height: auto;
        }
    }
}


@media only screen and (min-width: 640px) {
    header {
        background-image: url(/img/image1.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: top right;
    }

    header .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        line-height: 2.5rem;
    }

    header .navigation p {
        width: 40%;
    }

    header .navigation nav {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        width: 60%;
    }

    header .presentation {
        width: 50%;
        margin: 0;
    }

    header .picture img {
        display: none;
    } 
}

