@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url(/styles.css/header.css);
@import url(/styles.css/main.css);
@import url(/styles.css/footer.css);

:root {
    --playfair: 'Playfair Display', serif;
    --roboto: 'Roboto', sans-serif;

    --yellow: #F5B82E;
    --black: #2B2B2B;
    --light: #FBFCFF;
    --grey: #808080;
    --white: #FFF;
    --blue: #0000FF;
}

* {
    box-sizing: border-box;
    /*centruojama paciam centre: */
    margin: auto;    
    padding: 0;

}

body {
    max-width: 1100px;
}